*{
  margin:0px;
  padding: 0px;
}

html{
  background: rgb(38,136,211);
background: linear-gradient(180deg, rgba(38,136,211,0.19793855042016806) 77%, rgba(38,136,211,0.5760898109243697) 100%);
height: 100%;
}
.main--content{
  display:flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.main--content>p{
  text-align: center;
  margin: 15px;
}

input{
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.1);
  font-size:22px;
}

button{
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0072A3;
  color: white;

  transition: background-color 0.5s ease-in-out;
  -webkit-box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 13px 3px rgba(0,0,0,0.1);

}

button:hover{
  background-color: #39A7FF;

}

p{
  color: black;
  font-size: 16px;

}

nav{
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  background-color: #39A7FF;
  -webkit-box-shadow: 0px 2px 49px -7px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 2px 49px -7px rgba(0,0,0,0.36);
  box-shadow: 0px 2px 49px -7px rgba(0,0,0,0.36);
}

.logoimg{
  width: 130px;
}
ul{
  display: flex;
  gap: 1em;
  align-items: center;
  margin-right: 2em;
}
li{
  font-size: 1.5em;
  list-style: none;
  font-weight: 800;
}

.child--content{
  display: flex;
  max-width: 720px;
  margin: auto;
  justify-content: center;
  margin-top: 2em;
  background-color: #39A7FF;
  width: auto;
  -webkit-box-shadow: 0px 2px 30px -18px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 2px 30px -18px rgba(0,0,0,0.36);
  box-shadow: 0px 2px 30px -18px rgba(0,0,0,0.36);
  border-radius : 15px;
  color: white;
  gap: 15px;
  padding: 30px;

}
.profil-pic{
  width: 100px;
  height: 100px;
  overflow:scroll;
  border-radius: 80px;
  text-align: center;
}

.profil-pic>img{
  display: block;
  height: 100%;
  width: 100%;
  object-fit:fill;
  ;
}

.child--inner{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.child--inner > .details > p {
  color:white;
}

input {
  display: flex;
  text-align: center;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: flex-start;
  max-width: 720px;
  margin: auto;
  background-color:grey;
  border-radius: 8px;
  gap: 15px;
  padding: 25px;
  margin-top: 20px;

}
.cards--inner> h3 {
  color: #333;
}

.cards--inner{
  display: flex;
  justify-content: flex-start;
  background-color: white;
  padding: 25px;
  border-radius: 8px;
  width: 100%;
  gap: 15px
}
.--Change{
  background-color: rgb(115, 61, 57);
}

.--Lunch {
  background-color: rgb(203, 203, 5);
}
.--Activity{
  background-color: plum;
}
.--Deposit{
  background-color: green;
}

.--Withdraw{
  background-color: red;
}
.--Sleep{
  background-color: #39A7FF;
}

.login--button{
  background-color: #39B1E2;
  width: fit-content;
  padding: 15px;
  border-radius: 15px;
  margin: auto;
  margin-top: 15px;
  text-decoration: none;
}

a{
  text-decoration: none;
  font-weight: 600;
}


label {
  display: flex;
  justify-content: center;
  margin: 5px 5px;
  color:#0072A3;
}

form > p{
  color: red;
  text-align: center;
  align-content: center;
  width: auto;
  border-radius: 8px;
  font-weight: 800;
  background-color: lightsteelblue;
  box-sizing: content-box;
}

form{
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

form > select {
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

form > input {

  text-align: center;
  font-weight: 700;
}

.register--success{
  color: green;
  text-align: center;
  font-weight: 800;
}

.validation-message{
  color: red;
  text-align: center;
  font-weight: 600;
  background-color: lightsteelblue;
  border-radius: 8px;
  width: auto;
  margin-top: 10px;
}

.valid, .invalid{
  display: flex;
  justify-content: center;
  margin: 5px 10px;
  width: auto;
  color:#0072A3;
}

button[disabled] {
  background-color: gray;
  color: white;
  pointer-events: none;
}

.register-title{
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  margin-top: 15px;
  color:#0072A3;
}

.register-div{
  display: grid;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}

.errmsg{
  color: red;
  text-align: center;
  font-weight: 800;
  margin-top: 15px;
}

.login{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

form > button{
  margin-top: 15px;
}

form > select{
  height: 20px;
  size: 20px;
}

.login-text{
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  margin-top: 15px;
  color: black;
  background-color: transparent;
}

form > button {
  background-color: #39A7FF;
  color: white;
  padding: 15px;
  border-radius: 15px;
  margin: auto;
  margin-top: 15px;
  text-decoration: none;
}

form > p {
}

.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}
.blue{
  background-color: blue;
}
.pink{
  background-color: pink;
}
.purple{
  background-color: purple;
}
