
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: white;
  height: 100%;
}


body {
  padding-bottom: 70px; /* Ajuster selon la hauteur de votre footer + marge supplémentaire */
  margin-bottom: 20px; /* Ajuster selon vos besoins */
}

html {
  height: 100%;
}

.child--outter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cfcccc;
  border-radius: 15px;
  padding:15px 5px;
  max-width: fit-content;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
}
.child--outter > p{
  margin: 3px 0px;
}

.child--outter > h3 {
  margin: 10px 0px;
  background-color: rgb(238, 250, 250);
  width: 100%;;
}

.popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cfcccc;
  border-radius: 15px;
  padding:15px 5px;
  max-width: fit-content;
  margin: auto;
}
